<div>
    <form :id="formId()" name="form" method="POST" @submit.prevent="submit">
        <modal :modal="modalOptions">
            <div slot="content">
                <h5>{{ title() }}</h5>
                <div class="row">
                    <div class="input-field col s12">
                        <select-material :options="cpOptions" :selected.sync="bill.category_id" v-validate
                                         data-vv-rules="required" data-vv-name="category_id"
                                         data-vv-as="categoria"
                                         name="category_id"
                        ></select-material>
                        <label class="active" :data-error="errors.first('category_id')">Categoria de despesa</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <input type="text" v-model="bill.date_due | dateFormat" name="date_due" placeholder="Informe a data"
                               class="validate" v-validate data-vv-rules="required|date_format_custom"
                               :class="{'invalid' : errors.has('date_due')}"
                               data-vv-as="data de vencimento"/>
                        <label class="active" :data-error="errors.first('date_due')">Vencimento</label>
                    </div>
                    <div class="input-field col s4">
                        <input autocomplete="off" type="text" v-model="bill.value | numberFormat" placeholder="R$ 0,00" name="value" class="validate"
                               v-validate data-vv-rules="required|number_format:0.01"
                               :class="{'invalid' : errors.has('value')}"
                               data-vv-as="valor"/>
                        <label class="active" :data-error="errors.first('value')">Valor</label>
                    </div>
                    <div class="input-field col s4">
                        <input type="checkbox" v-model="bill.done" class="filled-in" :id="doneId()"/>
                        <label :for="doneId()">Pago?</label>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0;">
                    <div class="input-field col s6">
                        <input type="text" v-model="bill.name" id="name" name="name" placeholder="Nome da conta" class="validate"
                               v-validate data-vv-rules="required" :class="{'invalid' : errors.has('name')}"
                               data-vv-as="nome"/>
                        <label class="active" for="name" :data-error="errors.first('name')">Nome</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" :id="bankAccountTextId()" placeholder="Procure a conta bancária" class="validate"
                               autocomplete="off" :data-activates="bankAccountDropdownId()" data-beloworigin="true"
                               :class="{'invalid' : errors.has('bank_account_id')}"
                                @blur="blurBankAccount"/>
                        <label class="active" :data-error="errors.first('bank_account_id')">Conta Bancária:</label>
                        <input type="hidden" name="bank_account_id" :id="bankAccountHiddenId()"
                               :value="bill.bank_account_id" v-validate data-vv-rules="required">
                        <ul :id="bankAccountDropdownId()" class="dropdown-content ac-dropdown"></ul>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0;">
                    <div class="input-field col s3">
                        <input type="checkbox" v-model="repeat" class="filled-in" :id="repeatId()"/>
                        <label :for="repeatId()">Repetir?</label>
                    </div>
                    <div class="input-field col s5">
                        <select v-model="repeat_type" class="browser-default">
                            <option value="1">Mensalmente</option>
                            <option value="">Anualmente</option>
                        </select>
                    </div>
                    <div class="input-field col s4">
                        <input type="text" v-model="repeat_number" placeholder="Ocorrências"/>
                    </div>
                </div>
            </div>

            <div slot="footer">
                <button type="submit" class="btn btn-flat waves-effect green lighten-2 modal-close modal-action">
                    OK
                </button>
                <button type="button" class="btn btn-flat waves-effect waves-red modal-close modal-action">Cancelar
                </button>
            </div>
        </modal>
    </form>
</div>