
// Fonts
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// Materialize
@import "node_modules/materialize-css/sass/components/color";

// Variables
@import "variables";

// Materialize
@import "node_modules/materialize-css/sass/materialize";

@import "../../_default/sass/default";
@import "../../_default/sass/select2-materialize";

body {
  background-color: color('green', 'lighten-5');
}

.spinner {
  @extend .progress;
  margin: 0px;
}

.spinner-fixed {
  width: 100%;
  position: fixed;
  z-index: 998;
}

.filter-group {
  .btn {
    float: right;
    height: 3rem;
    line-height: 3rem;
  }
  .filter-wrapper {
    overflow: hidden;
    padding-right: 10px;
  }
}

.category-tree {
  @extend .collection;
  border: none;
  margin: 0;
  overflow: visible;

  .category-child {
    @extend .collection-item;
    padding-left: 50px;
  }

  .category-symbol {
    line-height: 36px;
    height: 36px;
    i{
      line-height: inherit;
      height: inherit;
    }
  }
}